body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
}


@font-face {
    font-family: 'dancing';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

/* LOADING PAGE SECTION  */

/* #main-page1 {
    display: none;
    position: relative;
}

#load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: block;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#load.zoom-out {
    transform: scale(4);
    opacity: 0;
}

#load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

#load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

#load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

#load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

#load :last-child {
    background: #193B48
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
} */

/* NAV BAR SECTION  */
#check {
    display: none !important;
}

.fa-x {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 3%;
    z-index: 100;
    top: 30px;
    left: 0;
    height: auto;
    background: transparent;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: green;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li:hover a::after {
    transform: scaleX(1);
}

nav ul li a:hover,
#language:hover {
    color: green;
}

nav ul li a,
#language {
    color: black;
    text-decoration: none;
    font-family: 'Lato';
    transition: color 0.3s;
    font-weight: 600;
}

nav ul li {
    transition: 300ms linear;
}

nav ul li:hover {
    transform: scale(1.03) translateY(-2px);
}

.name {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.name1 {
    color: green;
}

#language {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-family: 'Lato';
    outline: none;
}

.opt,
.opt:active,
.opt:hover {
    color: white;
    background-color: green;
    padding: 80px;
}

/* HOME SECTION  */

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 3% 300px;
    height: auto;
    padding: 0px 30px 60px 30px;
    font-weight: 600;
}

.image {
    min-width: 400px;
    min-height: 400px;
    background-image: url('../images/img2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 90%;
    border: 3px solid green;
    box-shadow: 0px 0px 25px green;
    animation: shadow 4s linear infinite alternate;
    transition: 0.5s ease;
    margin-bottom: 30px;
    animation: bounce 2s linear infinite normal;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 25px green;
    }

    50% {
        box-shadow: 0px 0px 45px green;
    }

    100% {
        box-shadow: 0px 0px 25px green;
    }
}

.content p {
    margin-top: 0px;
    margin-bottom: 20px;
}

.fa-bars {
    display: none !important;
}

.p1,
.p3 {
    font-size: 32px;
}

.p2 {
    font-size: 50px;
    margin: -3px auto;
}

.type {
    color: green;
}

.p4 {
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    margin-top: 30px !important;
    width: 74%;
}

.brands a {
    color: green;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid green;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 5px 15px 5px 0;
    transition: 0.5s ease;
}

.brands a:hover {
    color: white;
    background: green;
    box-shadow: 0px 0px 20px green;
    transform: translateY(-3px) scale(1.1);

}

.cvButton {
    padding: 12px 28px;
    font-size: 18px;
    color: white;
    background: green;
    box-shadow: 0px 0px 20px green;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 30px;
}

.cvButton:hover {
    transform: scale(1.1);
}

.mouse {
    color: green;
    font-size: 23px;
    margin-left: 20px;
}

.fa-mouse {
    animation: bounce2 1s ease infinite normal;
    transition: .5s ease;
}

.mouse:hover {
    scale: 1.1;
}

@keyframes bounce2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
    }
}

/* TESTIMONALS SECTION */

.slides {
    overflow: hidden;
    padding: 20px 5px;
    height: 450px;
    background-image: url('../images/bg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 250px 0px;
}

.slider {
    display: flex;
    gap: 30px;
    animation: slide 20s linear infinite;
    /* Slower and continuous animation */
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slide {
    width: 400px;
    height: 240px;
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 30px white;
    background-color: #f1f1f1;
}

.head1 {
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0px;
    letter-spacing: 3px;
}

.head2 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.display {
    display: flex;
    align-items: center;
    gap: 10px;
}

.display img {
    width: 60px;
    border-radius: 50%;
}

.contents {
    line-height: 25px;
    text-align: justify;
    margin-top: 10px;
}

/* CORE SKILLS SECTION */

#core {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    margin-top: 100px;
    width: auto;
}

.p5 {
    text-align: center;
    font-size: 50px;
    color: green;
    font-weight: 600;
}

.p6 {
    text-align: center;
    font-size: 18px;
    width: 650px;
    margin: 30px auto;
}

.skillsdiv {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    height: auto;
    border: 2px solid rgba(0, 128, 0, 0.384);
    padding: 10px 25px;
    box-shadow: 0px 0px 8px green;
    transition: 0.3s ease;
    width: 90%;
    margin: 0px auto;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px green;

}

.icon {
    color: rgb(0, 96, 0);
    font-size: 40px;
    margin: 10px;
}

.p7 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.p8 {
    font-size: 17px;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 5px;
}

.meter {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.span1 {
    padding: 10px;
    background-color: rgba(1, 134, 1, 0.862);
    border-radius: 15px;
}

.span2,
meter {
    width: 90%;
}

/* QUOTE SECTION  */

.quote {
    margin: 0px auto;
    height: 600px;
    width: 93%;
    position: relative;
    border-radius: 10px;
    top: 100px;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteimg {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    filter: blur(1px);
    object-fit: cover;

}

.quote div {
    width: 85%;
    z-index: 67;
}

#p5 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
}

#p6 {
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}

#p7 {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}

.btn4 {
    margin-top: 30px;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.btn4 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.5s ease;
}

.btn4 a:hover {
    scale: 1.03;
    background-color: rgba(0, 128, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}


/* BUILDING SOMETHING GREAT SECTION  */

.port1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port2 {
    text-align: center;
}

.port3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.port4 {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
}

.port5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.port6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.5s ease;
}

.port6:hover {
    color: green;
    scale: 1.1;
    background-color: white;
    border: 1px solid green;
}

.port7 {
    font-size: 20px;
    color: #1f242d;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.port7:hover {
    color: white;
    background-color: green;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 8px;
}

/* FOOTER SECTION  */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 40px 0px;
    border-top: 3px solid green;
    box-shadow: 0px 0px 10px green;
}

.links ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.links ul li {
    list-style-type: none;
}

.links ul li a,
.links select {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.links ul li a:hover,
.links select:hover {
    color: green;
    transform: translateY(-10px);
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
}

.brand div p {
    font-size: 18px;
}

@media (Max-width: 768px) {
    .checkbtn {
        display: block;
    }

    .fa-bars {
        font-size: 20px;
        cursor: pointer;
    }

    #cancel {
        display: block;
        color: red;
        font-size: 20px;
        transition: 0.5s ease;
        cursor: pointer;
        margin-left: 80%;
    }

    #cancel:hover {
        scale: 1.5;
        transform: rotate(360deg);
    }

    #main-page1 nav ul {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        text-align: center;
        transition: transform 0.5s ease;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 20;
        padding: 50px 0px;
    }

    #main-page1 nav ul li a, #main-page1 nav ul select {
        font-size: 20px;
    }

    .fa-sun, .fa-moon {
        font-size: 30px;
    }

    /* When checked, slide in from the top-right */
    #check:checked ~ ul {
        transform: translateX(-100%);
    }

    .name {
        font-size: 18px;
    }

    .home {
        flex-direction: column-reverse;
        padding: 0px;
        justify-content: center;
        align-items: center;
        margin: 80px 3% 80px;
    }

    .image {
        min-width: 250px;
        min-height: 250px;
    }

    .fa-bars {
        display: block !important;
    }

    .content {
        padding: 10px 8px;
    }

    .p1 {
        font-size: 25px;
    }

    .p2 {
        font-size: 30px;
        line-height: 40px;
    }

    #p3 {
        font-size: 28px;
        padding-right: 10px;
    }

    .p4 {
        width: 100%;
    }

    .p5 {
        font-size: 40px;
    }

    #p5 {
        font-size: 19px;
        text-align: center;
    }

    #p6,
    #p7 {
        font-size: 18px;
        text-align: center;
    }

    #bt2 {
        margin: 40px auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .p6 {
        font-size: 18px;
        width: 100%;
        padding: 0px 10px;
    }

    #core {
        margin-left: 0px;
        margin-right: 0px;
    }

    .skillsdiv {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6 {
        margin: 0px auto;
    }

    .port3 {
        font-size: 30px;
    }

    .port4 {
        font-size: 18px;
        padding: 0px 8px;
    }

    .port6,
    .port7 {
        font-size: 15px;
    }

    footer {
        padding-left: 10px;
        width: 100%;
    }

    .links ul {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .brand {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .copy {
        text-align: center;
    }

}




/* //CONTACT HTML STYLING  */
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 5%;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
}


/* INFO  SECTION  */
.info {
    width: 100%;
    display: flex;
}

.info1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: green;
}

.info2 {
    font-size: 35px;
    background: linear-gradient(-90deg, black, gold);
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
    font-weight: 600;
    font-family: 'dancing';
}

.address,
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
    font-size: 18px;
}

.fa-location-dot,
.fa-envelope {
    color: green;
}

.mail p a {
    color: black;
    text-decoration: none;
}

.arrow {
    animation: bounce 1s ease infinite normal
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7px);
    }
}

/* CONNECT WITH US SECTION  */
.connect {
    width: 100%;
    height: auto;
    background-color: green;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 80px 60px;
    color: white;
}

.connect2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.connect2 h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Permanent Marker';
    font-weight: lighter;
}

.connect4 {
    font-size: 17px;
    font-weight: bold;
    transition: 1s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: green;
    border: none;
    padding: 20px 30px;
    border-radius: 20px;
    transition: 0.5s ease;
    color: white;
}

#connect4 {
    text-decoration: none;
}

.connect4:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    scale: 1.01;
}

.links2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
}

.links2 a {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s linear;
    color: white;
    text-decoration: none;
}

.links2 a:hover {
    background-color: rgb(1, 107, 1);
}

.github,
.linkedin {
    font-size: 50px;
    margin: 10px 0px;
}

.b-name {
    font-size: 35px;
    font-weight: 600;
    margin: 15px 0px;
}

.b-content {
    font-size: 20px;
    line-height: 35px;
    margin: 20px 0px;

}


/* CONTACT FORM SECTION  */

.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

form {
    width: 100%;
}

.contactname {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 4px;
}

.contm {
    color: green;
}

.form1,
.form2 {
    display: flex;
    gap: 8px;
}


.pre_form {
    width: 90%;
}

input {
    width: 50%;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 6px auto;
    border: none;
    outline: none;
    color: black;
    background-color: rgba(105, 109, 118, 0.636);
}

textarea {
    width: 100%;
    height: 130px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin: 6px auto;
    border: none;
    outline: none;
    color: black;
    background-color: rgba(105, 109, 118, 0.636);
    font-family: sans-serif;
}

.submit_btn3 {
    padding: 12px 28px;
    font-size: 18px;
    color: white !important;
    background: green;
    box-shadow: 0px 0px 20px green;
    color: #1f242d;
    letter-spacing: 1px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}

.submit_btn3:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px green;
}

.btndiv {
    display: flex;
    justify-content: center;
    width: 100%;
}